<ul id="demo1">

    <li>
        <img src="~/home/images/11.jpg" alt""/>
        <div class="slide-desc">

            <h3>Access Product easliy with Ecommerce Market</h3>

        </div>
    </li>

    <li>
        <img src="~/home/images/22.jpg" alt"" />
        <div class="slide-desc">

            <h3>Find product Ecommerce Market</h3>

        </div>
    </li>
    <li>
        <img src="~/home/images/44.jpg" alt"" />
        <div class="slide-desc">

            <h3>You can fallow the discounts by following us.</h3>

        </div>
    </li>
</ul>

