@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<div class="about">
    <div class="container">
        <h3 class="about-agileinfo w3layouts"></h3>
        <div class="col-md-12 about-wthree-grids grid-top">
            <h4>Ecommerce Market</h4>
            <p class="top">Ecommerce market has been serving its customer in İstanbul Center</p>

            <p>
                Ecommerce market is Customer focused
            </p>
            <p><strong>Address:</strong>Mecidiyeköy/İstanbul</p>
            <p><strong>Telephone:</strong>+(90)212 111 22 33</p>
            <p><strong>Email:</strong>infotech@tech.com</p>
        </div>


    </div>



</div>